<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="union GraphQL documentation">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>union</title>
    <link rel="stylesheet" href="/v2/docs/assets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
    <script>

    // Add anchors on DOMContentLoaded
    document.addEventListener("DOMContentLoaded", function(event) {
      anchors.options = {
        placement: 'left',
        visible: 'hover',
        icon: '¶'
      };
      anchors.add('h2, h3, h4, h5, h6, .anchored');
    });

    </script>
  </head>
  <body>

    <div id="wrap">
      <div id="header">
      </div>
      <div id="sidebar">
        <ul class="categories">
  <li>
    <ul class="menu-root">
      <li>
        <a href="/v2/docs">GraphQL Reference</a>
    </ul>
  </li>

  <li>
    <p>Queries</p>
    <ul class="menu-root">
      <li>
        <a href="/v2/docs/operation/query/" class="sidebar-link">
          Query
        </a>
      </li>
      <li>
        <a href="/v2/docs/operation/mutation/" class="sidebar-link">
          Mutation
        </a>
      </li>
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/object">Objects</a></p>
    <ul class="menu-root">
      
        
      <li>
        <a href="/v2/docs/object/createontlibrariesmutationpayload/" class="sidebar-link">
          CreateOntLibrariesMutationPayload
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/createontrunmutationpayload/" class="sidebar-link">
          CreateOntRunMutationPayload
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/createplatewithsamplesmutationpayload/" class="sidebar-link">
          CreatePlateWithSamplesMutationPayload
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/deleteontlibrarymutationpayload/" class="sidebar-link">
          DeleteOntLibraryMutationPayload
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/flowcell/" class="sidebar-link">
          Flowcell
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/library/" class="sidebar-link">
          Library
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/libraryconnection/" class="sidebar-link">
          LibraryConnection
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/libraryedge/" class="sidebar-link">
          LibraryEdge
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/pageinfo/" class="sidebar-link">
          PageInfo
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/plate/" class="sidebar-link">
          Plate
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/plateconnection/" class="sidebar-link">
          PlateConnection
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/plateedge/" class="sidebar-link">
          PlateEdge
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/request/" class="sidebar-link">
          Request
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/run/" class="sidebar-link">
          Run
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/runconnection/" class="sidebar-link">
          RunConnection
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/runedge/" class="sidebar-link">
          RunEdge
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/tube/" class="sidebar-link">
          Tube
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/updateontrunmutationpayload/" class="sidebar-link">
          UpdateOntRunMutationPayload
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/well/" class="sidebar-link">
          Well
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__directive/" class="sidebar-link">
          __Directive
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__enumvalue/" class="sidebar-link">
          __EnumValue
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__field/" class="sidebar-link">
          __Field
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__inputvalue/" class="sidebar-link">
          __InputValue
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__schema/" class="sidebar-link">
          __Schema
        </a>
      </li>
      
        
      <li>
        <a href="/v2/docs/object/__type/" class="sidebar-link">
          __Type
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/operation/mutation">Mutations</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/mutation/createontlibraries/" class="sidebar-link">
          createOntLibraries
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/mutation/createontrun/" class="sidebar-link">
          createOntRun
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/mutation/createplatewithsamples/" class="sidebar-link">
          createPlateWithSamples
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/mutation/deleteontlibrary/" class="sidebar-link">
          deleteOntLibrary
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/mutation/updateontrun/" class="sidebar-link">
          updateOntRun
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/interface">Interfaces</a></p>
    <ul class="menu-root">
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/enum">Enums</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/enum/runstateenum/" class="sidebar-link">
          RunStateEnum
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/enum/studytypeenum/" class="sidebar-link">
          StudyTypeEnum
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/enum/__directivelocation/" class="sidebar-link">
          __DirectiveLocation
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/enum/__typekind/" class="sidebar-link">
          __TypeKind
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/union">Unions</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/union/materialunion/" class="sidebar-link">
          MaterialUnion
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/input_object">Input Objects</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/input_object/createontlibrariesmutationinput/" class="sidebar-link">
          CreateOntLibrariesMutationInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/createontrunmutationinput/" class="sidebar-link">
          CreateOntRunMutationInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/createplatewithsamplesmutationinput/" class="sidebar-link">
          CreatePlateWithSamplesMutationInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/deleteontlibrarymutationinput/" class="sidebar-link">
          DeleteOntLibraryMutationInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/flowcellinput/" class="sidebar-link">
          FlowcellInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/librarycreationargumentsinput/" class="sidebar-link">
          LibraryCreationArgumentsInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/platewithsamplesinput/" class="sidebar-link">
          PlateWithSamplesInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/runinput/" class="sidebar-link">
          RunInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/sampleinput/" class="sidebar-link">
          SampleInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/updateontrunmutationinput/" class="sidebar-link">
          UpdateOntRunMutationInput
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/input_object/wellwithsamplesinput/" class="sidebar-link">
          WellWithSamplesInput
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/scalar">Scalars</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/scalar/boolean/" class="sidebar-link">
          Boolean
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/scalar/id/" class="sidebar-link">
          ID
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/scalar/int/" class="sidebar-link">
          Int
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/scalar/string/" class="sidebar-link">
          String
        </a>
      </li>
      
    </ul>
  </li>

  <li>
    <p><a href="/v2/docs/directive">Directives</a></p>
    <ul class="menu-root">
      
      
      <li>
        <a href="/v2/docs/directive/deprecated/" class="sidebar-link">
          deprecated
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/directive/include/" class="sidebar-link">
          include
        </a>
      </li>
      
      
      <li>
        <a href="/v2/docs/directive/skip/" class="sidebar-link">
          skip
        </a>
      </li>
      
    </ul>
  </li>
</ul>

      </div>
      <div id="content">

        <h1>
<a id="unions" class="anchor" href="#unions" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Unions</h1>
<p>A union is a type of object that can represent one of many kinds of objects. For example, a field marked as a <code>ReactableUnion</code> could be a <code>CommitComment</code>, an <code>Issue</code>, an <code>IssueComment</code>, or a <code>PullRequestReviewComment</code>, because each of those objects can be reacted on.</p>
<p>For more information, see <a href="https://facebook.github.io/graphql/#sec-Unions">the GraphQL spec</a>.</p>

      </div>

      <!-- mobile only -->
      <div id="mobile-header">
        <a class="menu-button" onclick="document.body.classList.toggle('sidebar-open')"></a>
        <a class="logo" href="/v2/docs">

        </a>
      </div>
      <div id="mobile-shade"></div>

    </div>

  </body>
</html>
