default: &default
  enabled: true
  broker_host: localhost
  broker_port: 5672
  broker_username: guest
  broker_password: guest
  vhost: /
  exchange: bunny.examples.exchange
  queue_name: psd.traction.to-warehouse
  routing_key: #

development:
  <<: *default
  enabled: false

test:
  enabled: false
