default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch('DBUSERNAME','root') %>
  password: <%= ENV['DBPASSWORD'] %>
  host: 127.0.0.1
  port: <%= ENV.fetch('DBPORT','3306') %>
  timeout: 5000

development:
  <<: *default
  database: traction_development

test:
  <<: *default
  database: traction_test
