default: &default
  ont:
    covid:
      pcr_tag_set:
        name: 'ONT_EXP-PBC096'
        hostname: 'localhost:3000'
      study_uuid: '468e0cd0-6a9d-11ea-a04f-fa163e68e77d'

development: *default
test: *default
