default: &default
  ont:
    covid:
      pcr_tag_set:
        name: 'ONT_EXP-PBC096'
        hostname: 'localhost:3000'
      study_uuid: '8196c1f6-6a9c-11ea-8d18-fa163eac8e97'

development: *default

test: *default

uat: *default

production: *default